.form {
    height: auto;
    width: 500px;
    padding: 20px;
    margin:auto;
    background-image: url('https://wallpaperaccess.com/full/5276927.jpg');
    text-align: center;
}
#add_book_heading{
    text-align: center;
    color:rgb(12, 22, 1) ;
}
.form input{
    width: 200px;
    margin: 10px 0px;
    padding: 8px;
    border: 1px solid black;
    outline: none;
    font-size: large;
}
.form textarea{
    margin: 10px 0px;
    font-size: large;
    outline: none;
}
.form button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: darkorange;
    color: white;
}