.admin_form{
    display: flex;
    align-items: center;
    height: 380px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    padding: 20px 100px 20px 50px;
    border: 1px solid black;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2327ffa4-20e9-41b6-b77c-462d26f7bfea/d3ecbzg-045f95bb-8610-4dbb-84ab-e1d08fb037d7.jpg');
    text-align: center;
    border-radius: 15px;
    background-color: white;
}
.line{
    margin-left: 50px;
    height: 250px;
    width: 0px;
    border: 1px solid white;
    background-color: white;
}
.form_input{
    text-align: left;
    margin-left: 80px;

}
.form_input label{
    color: white;
}
.form_input input{
    margin-top: 6px;
    margin-bottom: 20px;
    width: 250px;
    padding: 5px 30px 5px 5px;
    border-style: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: black;
    color: white;
}
.form_input button{
    padding: 7px 50px;
    margin-top: 20px;
    background-color: orangered;
}
.admin_form_image img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 90px;
}