.contents li{
    display: inline;
    margin: 0px 20px;
}
.contents a{
    text-decoration: none;
    color: black;
    font-size: large;
    padding: 5px;
    color: white;
}
.admin_navbar{
    background-color:darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    color: white;
}
.logout button{
    padding:7px 20px;
    border-style: none;
    border-radius: 20px;
    color:white;
    font-size:large;
    background-color: darkorange;
}
