.admindashboard{
    padding: 100px 410px 0px;
}
.top{
    height: 200px;
    width: 680px;
    background-color: orange;
}

.content{
    height: auto;
    width: 400px;
    padding: 40px;
    background-color: white;
    position:relative;
    top: -100px;
    left: 100px;
    
}
.content a{
    color: orange;
    font-size: large;
}
