.user_section{
    margin-left: 450px;
}
.user{
    background-color: orange;
    height:250px;
    width: 700px;
    margin-bottom: 300px;
}
.middle_border{
    /* box-shadow: 10px 10px  8px blueviolet; */
    /* box-shadow: -10px -10px  8px blueviolet; */
    width: 400px;
    height: 300px;
    margin: 30px auto;
    padding: 20px 50px;
    background-color: white;
    color: black;
    position: relative;
    top: 100px;
    left: 0px;
}
.middle_border p{
    font-size: large;
    margin: 10px 0px;
}
.middle_border button{
    border: none;
    color: black;
    margin-top: 20px;
    padding: 8px 17px;
    font-size: large;
    background-color: orange;
}
.middle_border button:hover{
    border-radius: 25px;
    transform: 0.7s;
    border: 1px solid black;
}
#ul{
    margin: 25px 0px;
    color: black;
    text-align: center;
}