.user{
    border: 1px solid blueviolet;
    /* box-shadow: 10px 10px  8px blueviolet; */
    /* box-shadow: -10px -10px  8px blueviolet; */
    width: 50%;
    margin: 30px auto;
    padding: 0px 30px 20px;
    border-radius: 20px;
    background-color:darkolivegreen;
    color: rgb(234, 132, 7);
}

#ul{
    margin-top: 0px;
    color: black;
    text-align: center;
}